<f:layout name="General" />

<f:section name="content">
  <!--
          =====================
                  Templates/Member/SearchMembers.html
  -->
  {namespace otws=Opentalent\OtWebservice\ViewHelpers\Object}
  <f:if condition="{members}">
    <f:then>
      <f:alias map="{materials: '{otws:MembersOrder(members:members, order: \'material\' )}'}">
        <f:for each="{materials}" as="material" key="name">
          <p class="adherent-role">{name}</p>
          <ul class="adherents">
            <f:for each="{material}" as="member">
              <f:render partial="Member/List/Member" arguments="{member: member,settings:settings,iterator:iterator}" />  
            </f:for>
          </ul>
        </f:for>
      </f:alias>
    </f:then>
    <f:else>
      <article class="corps-list">
        <h5>Aucun adhérent</h5>
      </article>      
    </f:else>
  </f:if>
</f:section>