<!-- Footer
================================================== -->
<div id="footer">
    <!-- Grey line -->
    <div class="navbar navbar-bottom-line grey-bg"></div>
    <!-- Bottom Navbar -->
    <nav class="navbar navbar-default navbar-bottom">
        <div class="container">
            <div class="col-xs-9 credits">
                <f:cObject typoscriptObjectPath="lib.themegallery.navigation.footer" />
            </div>
            <div class="col-xs-3 logo-ot">
                <p>
                    <a href="http://opentalent.fr" target="_blank" alt="Opentalent">
                        <img src="/fileadmin/theme_gallery/BlueSky/Templates/assets/img/logo-opentalent.png" height="40" />
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
