{namespace otws=Opentalent\OtWebservice\ViewHelpers\Utility}
<f:layout name="Home" />

<f:section name="Content">
  <!-- Main content
      ================================================== -->

  <div class="container" role="main">
    <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
    <div class="row content">
      <otws:IfHasAction pluginName="tx_otwebservice_pi1" action="detail">
        <f:then>
          <!-- Middle column -->
          <div class="content-middle">
            <f:cObject typoscriptObjectPath="plugin.tx_otwebservice.widgets.eventDetail" />
          </div>
        </f:then>
        <f:else>
          <!-- Left column -->
          <div class="content-left">
            <f:cObject typoscriptObjectPath="plugin.tx_otwebservice.widgets.eventSearchForm" data="{onChildrenOnly:1, limit:300000}"/>
          </div>
          <!-- END OF Left column --> 
          <!-- Middle column -->
          <div class="content-middle">
            <p class="saison-titre">Les évènements</p>
            <div class="col-md-8 content-middle">
              <f:cObject typoscriptObjectPath="plugin.tx_otwebservice.widgets.eventMap" />
            </div>
            <div class="col-md-4 ggmaps-list-results">
              <f:cObject typoscriptObjectPath="plugin.tx_otwebservice.widgets.eventSearchResult" data="{onChildrenOnly:1, limit:300000}"/>
            </div>
          </div>
        </f:else>
      </otws:IfHasAction>
      <!-- END OF Middle column -->     
    </div> <!-- /row content -->
  </div> <!-- /container -->
</f:section>
