<f:layout name="Home" />

<f:section name="Content">
<!-- Main content
    ================================================== -->

    <div class="container" role="main">
      <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
      <div class="row content">

        <!-- Middle column -->
        <div class="col-md-8 content-middle-one-column">
          <f:cObject typoscriptObjectPath="plugin.tx_otwebservice.widgets.members_ca"/>
        </div>

      </div> <!-- /row content -->

    </div> <!-- /container -->
</f:section>
