<f:layout name="Home" />

<f:section name="Content">
<!-- Main content
    ================================================== -->

    <div class="container" role="main">
      <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
      
      <div class="row content">

        <!-- Middle column -->
        <div class="col-md-8 col-md-push-2 content-middle">
          <f:cObject typoscriptObjectPath="lib.tx_themegallery.widgets.detailnews" />
          <f:cObject typoscriptObjectPath="lib.tx_themegallery.widgets.listnews" />
        </div>

      </div> <!-- /row content -->

    </div> <!-- /container -->
</f:section>
